<%=obr.panel_name%> &nbsp;
<a onclick="TestPanel.getPrevDataForLoinc('<%=obr.loinc_num%>')"
 href="javascript:void(0)">(View)</a> &nbsp;
<a onclick="TestPanel.openPanelEditor('<%=obr.loinc_num%>')"
 href="javascript:void(0)">(Add more)</a>
