  <h1>Confirmation of change to PHR account ID: <%= @user %></h1>
  <p>You are receiving this message because your account settings (which
    include your email address, password, and security questions) for PHR 
    Account ID <%= @user %> have been changed. This is a courtesy notice. No 
    action on your part is needed; however, if you or anyone with authorized 
    access to your Personal Health Record did not make this change, please
    use the <%= link_to SUPPORT_PAGE_NAME, new_contact_us_url %> page to let
    us know.</p>
