<h1>Confirmation of PHR Account ID: <%= @user %></h1>
<p>You are receiving this message because you requested confirmation of your PHR
  Account ID. Your PHR Account ID is <%= @user %>.  To reset your PHR account
  password, go to the <a href="<%=reset_password_step_one_url%>">forgotten password</a>
  page.  This is a courtesy notice. No action on your part is needed; however,
  if you or anyone with authorized access to your Personal Health Record did not
  request this information, please <a href="<%= new_contact_us_url %>">contact
  us</a>.</p>
