  <p class="screen_reader_only">Flash object with no visible content</p>
	<object width="1" height="1" id="CBCookie">
	<param name="movie" value="/CB_Cookie.swf" />
  <param name="quality" value="high" />
  <param name="bgcolor" value="#ffcc00" />
  <embed src="/CB_Cookie.swf" quality="high" bgcolor="#ffcc00" width="1" height="1" name="CBCookie"
  align="middle"  type="application/x-shockwave-flash" />
	</object>
