        <%#  A Print Button %>
        <button id="<%=button_id%>" type="button" class="rounded"
            ><span><%=fd.display_name%></span>
        </button>
        <%# leave formatting in so that html file is readable %>
