<table id="saved_panels" style="width: 100%">
  <colgroup>
    <col style="width: 8em; min-width: 8em" />
    <col style="" />
    <col style="width: 0; display: none" />
  </colgroup>
  <thead>
    <tr><td>Last entry date</td><td>Panel name</td><td style="display:none;"></td></tr>
  </thead>
</table>
