<%# A timeline view div %>
<div class="panel_timeline">
<table style="border-collapse: collapse; width:100%;">
  <tr>
    <td class="fixed_col">
  <%# panel def div %>
  <div class="panel_def" p_no=<%=@panel_def[0]['loinc_num']%>>
    <table >
      <%# 3 extra rows %>
      <tr><th class="test_name">&nbsp;</th><th class="sparkline_chart">&nbsp;</th></tr>
      <tr><th>&nbsp;</th><th>&nbsp;</th></tr>
      <tr><th>&nbsp;</th><th>&nbsp;</th></tr>
      <%- @panel_def.each do |panel| -%>
        <%- if !panel.empty? -%>
            <%- if !panel['is_test'] && panel['disp_level']==1 -%>
            <%-   class_name ="panel_header " -%>
            <%-   value=panel['name'] -%>
              <tr class="<%=  class_name.html_safe%>">
                <td class="test_name"><%=value.html_safe%></td>
                <%# data and div for sparkline charts %>
                <td class="sparkline_chart" l_no="<%=panel['loinc_num']%>">
                </td>
              <%# end of sparkline charts%>
              </tr>
            <%- end -%>
          <%- end -%>
      <%- end -%>
    </table>
  </div>
<%# data %>
</td><td style="vertical-align:top;">
  <%# test data %>
  <div class="test_data_table_wrapper">
    <div class="test_data_table">
      <table>
        <%# use the 'sum' class to bypass the click event listener setup%>
        <tr><td class='sum no_data' >No saved records found.</td></tr>
      </table>
    </div>
  </div>
</td></tr></table>
</div>
